@import "normalize";

@import "colors";

@import "typography";

@import "icons";

body {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  color: $navyBlue;
}

.wrapper {
  padding: 0 .5rem;
}

@media (min-width: 680px ) {
  .wrapper {
    padding: 0 1rem;
  }
}

.sectionTitle {
  margin: 1.5rem 0;
}

blockquote {
  max-width: 450px;
  font-size: 1.5em;
}

blockquote::before {
  content: "\201C";
  color: $brandBlue;
}

blockquote::after {
  content: "\201D";
  color: $brandBlue;
}

footer {
  background-color: $brandBlue ;
  color: $gray;
  height: 100%;
  padding: .5rem .5rem;
}

footer a {
  color: $gray;
}


h2 {
  display: flex;
  align-items: center;
  padding-left: 1em;
  background-color: #446bf9;

}
